@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: Poppins;

}
body, html{
    background: #000;
    color: #eee;
    margin: 0;
    font-size: 15px;
    width: 100%;
    height: 100%;
}
header{
    max-width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}







.nav-bar{
    width: 80%;
    height: 60%;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
    border-radius: 30px;
    transform: scaleX(0.4) translateY(-100px);
    z-index: 0;
    position: relative;
    transition: all 0.3s ease;
    animation: navIntro 0.5s forwards linear;
}
@keyframes navIntro {
    0%{transform: scaleX(0.5) translateY(-100px);}
    50%{transform: scaleX(0.5) translateY(0);}
    100%{transform: scaleX(1) translateY(0);}
}
.nav-bar::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 30px;
    top: 0;
    left: 0;
}
.nav-bar::before{
    content: '';
    background: linear-gradient(45deg,#063e99,blue,#063e99,#000,#063e99,#000,#063e99,#000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glow 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
    opacity: 1;
}
.change-back::before{
    background: linear-gradient(45deg,red,red,red,#000,red,#000,red,#000);
    content: '';
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glow 10s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
    opacity: 1;
}
@keyframes glow {
    0%{background-position:  0 0;}
    50%{background-position:  400% 0;}
    100%{background-position:  0 0;}
}
nav:hover{
    transform: scaleX(1.1);
}
nav button{
    border: none;
    background: transparent;
    color: #eee;
    animation: innerButtons   2s linear 1 forwards;
}
@keyframes innerButtons {
    from{
        opacity: 0;
        clip-path: inset(100% 0 100% 0);
    }
    to{
        opacity: 1;
        clip-path: inset(0 0 0 0);
    }
}
nav:hover button{
    color: #666666;
    transition: all 0.3s ease-in-out;
}
nav button:hover{
    color: #fff;
    transition: all 0.3s ease-in-out;
}




center{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
center .content{
    width: 85%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    position: relative;
    z-index: 0;
    font-weight: 100;
}
center .content p{
    font-size: 40px;
    transition: all 0.5s ease-in-out;
    letter-spacing: 10px;
    color: transparent;
    -webkit-text-stroke: 1px white;
    position: relative;
    animation: introCard 2s  linear 1 forwards;
    filter: blur(3px);
}
@keyframes introCard {
    to{
        font-size: 35px;
        letter-spacing: 5px;
        filter: blur(0);
    }
}
.change-theme{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
}
.change-theme button{
    color: #fff;
    background: none;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 10px;
    transition: all 0.3s ease;
    opacity: 0.4;
}
.change-theme button:hover{
    background: #fff;
    color: #000;
}

center .info{
    display: grid;
    grid-template-rows: 30% auto;
    width: 85%;
    height: 80%;
}
@keyframes showContent {
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}
center .info .cards .card{
     animation: showContent 0.5s 1s linear 1 forwards;
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-50px);
}
center .info .cards .card:nth-child(1){
    animation-delay: 1s;
}
center .info .cards .card:nth-child(2){
    animation-delay: 1.1s;
}
center .info .cards .card:nth-child(3){
    animation-delay: 1.2s;
}
center .info .cards .card:nth-child(4){
    animation-delay: 1.3s;
}

h1{
    letter-spacing: 3px;
    font-weight: 300;
}
center .cards{
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
center .cards .card{
    width: 80%;
    height: 90%;
    border: 1px solid white;
    border-radius: 25px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 3px;
    z-index: 0;
    transition:  all 0.3s ease;
    position: relative;
}
center .cards .card::after{
    content: '';
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 30px;
    top: 0;
    left: 0;
}
center .cards .card::before{
    content: '';
    background: linear-gradient(45deg,#063e99,blue,#063e99,#000,#063e99,#000,#063e99,#000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(10px);
    animation: glow 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 30px;
    opacity: 1;
}
center .cards .card:hover{
    border: 1px solid #666666;
    font-size: 22px;
    letter-spacing: 13px;
    cursor: pointer;
}




center .gaming,
center .personal,
center .projects,
center .passion{
    display: grid;
    grid-template-rows: 30% 50% 20%;
    width: 85%;
    height: 80%;
}
center .gaming .game-content,
center .passion .passion-content,
center .personal .personal-content{
    font-weight: 200;
    text-align: start;
    padding-left: 35%;
}
center .gaming .game-content li, .about, .content,
center .passion .passion-content li,
center .personal .personal-content li{
    padding-bottom: 15px;
    font-size: 20px;
    animation: showContent 0.3s 0.5s linear 1 forwards;
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-50px);
}
center .gaming .game-content li:nth-child(1),
center .passion .passion-content li:nth-child(1){
    animation-delay: 1s;
}
center .gaming .game-content li:nth-child(2),
center .passion .passion-content li:nth-child(2){
    animation-delay: 1.1s;
}
center .gaming .game-content li:nth-child(3),
center .passion .passion-content li:nth-child(3){
    animation-delay: 1.2s;
}
center .gaming .game-content li:nth-child(4),
center .passion .passion-content li:nth-child(4){
    animation-delay: 1.3s;
}








center .personal .personal-content li:nth-child(1){
    animation-delay: 1s;
}
center .personal .personal-content li:nth-child(2){
    animation-delay: 1.1s;
}
center .personal .personal-content li:nth-child(3){
    animation-delay: 1.2s;
}
center .personal .personal-content li:nth-child(4){
    animation-delay: 1.3s;
}





center .projects{
    display: grid;
    grid-template-rows: 30% 50% 20%;
    width: 85%;
    height: 80%;
}
center .projects .project-content{
    font-weight: 200;
    text-align: start;
    padding-left: 35%;
}
center .projects .project-content li{
    padding-bottom: 15px;
    font-size: 20px;
    animation: showContent 0.5s 1s linear 1 forwards;
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-50px);
}
center .projects .project-content li:nth-child(1){
    animation-delay: 1s;
}
center .projects .project-content li:nth-child(2){
    animation-delay: 1.1s;
}
center .projects .project-content li:nth-child(3){
    animation-delay: 1.2s;
}
center .projects .project-content li:nth-child(4){
    animation-delay: 1.3s;
}




.back-button{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back{
    width: 120px;
    height: 60%;
    background: none;
    color: #fff;
    border-radius: 25px;
    border: 1px solid white;
    font-size: 13px;
    opacity: 0;
    transition:  all 0.3s ease;
    animation: showContent 0.5s 1s linear 1 forwards;

}
#back:hover{
    background-color: #eee;
    color: #000;
}


@media(max-width:720px){
    center .cards,
    center .dis-cards{
        flex-wrap: wrap;
    }
    center .cards .card,
    center .dis-cards .dis-card {
        font-size: 20px;
        letter-spacing: 10px;
        height: 50%;
    }
    center .content p{
        font-size: 25px;
        filter: blur(3px);
        transition: all 0.5s ease-in-out;
        letter-spacing: 2px;
        animation: introCard 1s 1s linear 1 forwards;
    }
    @keyframes introCard {
        to{
            font-size: 20px;
            font-weight: lighter;
            letter-spacing: 5px;
            filter: blur(0);
        }
    }
  
    
    center .gaming .game-content,
    center .passion .passion-content,
    center .personal .personal-content,
    center .projects .project-content{    
        padding-left: 5%;
    }
}